.col-md-2 .card {
    border: none;
    box-shadow: inset 0 -3em 3em rgba(236, 226, 226, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(8, 2, 2, 0.3);
}
.cBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    font-size: 15px;
}
.widgets{
    margin-left: 25px !important;
    gap: 30px;
}

